<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Acervo de Livros</title>

            <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    </head>
    <body>
        <h1>Acervo de Livros</h1>

        <!-- Formulário de pesquisa -->
        <form id="searchForm">
            <input type="text" name="q" placeholder="Pesquisar">
            <button type="submit">Pesquisar</button>
        </form>

        <!-- Listagem de livros -->
        <div id="livros">
            {% for livros in livros %}
                <div>
                    <h2>{{ livro.titulo }}</h2>
                    {% if livros.foto %}
                        <img src="{{ livro.foto.url }}" alt="Capa de {{ livro.titulo }}" width="100">
                    {% else %}
                        <p>Capa não disponível</p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        <!-- Ajax -->
        <script>
            document.getElementById("searchForm").addEventListener("submit", function(e)) {
                e.preventDefault();
                let query = this.q.value;
                fetch(`/catalogo/?q=${query}`)
                    .then(response => response.text())
                    .then(html => {
                        document.getElementById("livros").innerHTML = html;
                    });
            });
        </script>
    </body>
</html>