<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Login do Administrador</title>
</head>
<body>
    <h1>Login do Administrador</h1>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

    <form id="loginForm">
         {% csrf_token %}
        <input type="text" name="username" placeholder="Usuário" required>
        <input type="password" name="password" placeholder="Senha" required>
        <button type="submit">Login</button>
    </form>

    <div id="loginResult"></div>

    <!-- AJAX -->
    <script>
        $(document).ready(function() {
        $('form').on('submit', function(event) {
            event.preventDefault();

            var username = $('input[name="username"]').val();
            var password = $('input[name="password"]').val();

            $.ajax({
                url: '/catalogo/login/',
                type: 'POST',
                data: {
                    username: username,
                    password: password,
                    csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val()
                },
                success: function(response) {
                    if (response.success) {
                        conslole.log("Acesso")
                    } else {
                        console.log("Falha")
                    }
                },
                error: function() {
                    alert('Erro na requisição.');
                }
            });
        });
    });
    </script>
</body>
</html>
