<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>App</title>
    </head>
    <body>
        <div>
            <h3>Flask App</h3>
        <div>

        <div>
            <p>Welcome the Flask App, User:  <b>{{ data.userTest }}</b>  </p>
            <p>Phone: <b>{{ data.phone }}</b> </p>

            <button> 
                <a href="{{url_for('newPage')}}">Link for New Page</a>
            </button>
        </div>
    </body>
</html>