<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="assets/custom/css/style.css">

    <title>Hello, world!</title>
</head>

<body>
    <nav class="navbar navbar-dark bg-primary navbar-expand-lg">
        <a class="navbar-brand" href="index.html">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-cart-link active" href="#">
                        <span class="nav-cart-text mr-1">
                            Carrinho
                        </span>
                        <span class="nav-cart-count mr-1">
                            <strong>109x</strong>
                        </span>
                        <span class="nav-cart-icon mr-2">
                            <i class="fas fa-shopping-cart"></i>
                        </span>
                    </a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    
    <main class="container mt-4 mb-4">
        <div class="row mt-3">
            <div class="col">
                <h3>Carrinho de compras</h3>
                <p class="lead">Os produtos, quantidades e preços que você escolheu.</p>
    
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="d-none d-lg-block">Imagem</th>
                                <th>Produto</th>
                                <th>Variante</th>
                                <th>Quantidade</th>
                                <th>Total</th>
                                <th>Remover</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for variacao_id, carrinho_item in request.session.carrinho.items %}
                            <tr>
                                <td class="d-none d-lg-block">
                                    <img class="cart-img" src="{{ carrinho_item.imagem_url }}">
                                </td>
                                <td>{{ carrinho_item.produto_nome }}</td>
                                <td>{{ carrinho_item.variacao_nome }}</td>
                                <td>{{ carrinho_item.quantidade }}</td>
                                <td>{{ carrinho_item.total }}</td>
                                <td>
                                    <form action="{% url 'remover_do_carrinho' %}" method="GET">
                                        <input type="hidden" name="vid" value="{{ variacao_id }}">
                                        <button type="submit" class="btn btn-link text-danger">
                                            <i class="fas fa-times-circle" aria-hidden="true"></i> Remover
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    
        <div class="row mt-3">
            <div class="col-lg">
                <p class='lead'>Total no carrinho</p>
    
                <div class='table-responsive'>
                    <table class="table">
                        <tr>
                            <td class="font-weight-bold">Total</td>
                            <td>R$ {{ total_no_carrinho }}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-lg mt-auto">
                <a class="btn btn-lg btn-block btn-primary" href="#">
                    Finalizar a compra
                </a>
            </div>
        </div>
    </main>
    
    
    <footer class="container-fluid bg-primary">
        <div class="container text-light">
            <div class="row">
                <div class="col">
                    <div class="p-1">
                        <span class="align-middle p-1">Feito com Django</span>
                    </div>
                </div>
                <div class="col">
                    <div class="p-1 text-right">
                        <span class="align-middle p-1">Por Luiz Otávio</span>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="assets/bootstrap/js/jquery-3.2.1.slim.min.js"></script>
    <script src="assets/bootstrap/js/popper.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script defer src="assets/font-awesome/js/all.js"></script>
    <script src="assets/custom/js/scripts.js"></script>
</body>

</html>